

.options {
    border: 1px solid #222;
    border-radius: 0.5em;
    background-color: #54afff;
    color: rgb(19, 1, 1);
    margin-bottom: 0.5em;
}
body {
    background-image: url(../images/background.png);
    background-size: 100%;
    background-color: rgb(28, 189, 167);
    
    
    
    
}
.options:hover {
    background-color: #3d95e2;
    cursor: pointer;
}

.content {
    background-color: rgba(250, 172, 4, 0.932);
}

h1 {
    margin-top: 0.4em;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-family: 'Bungee Shade', cursive;
    
}

#start-btn {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0.5em 2em;
    font-size: 1.5em;
}

#reset-btn {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 0.5em 2em;
    font-size: 1.5em;
}
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #74cc00;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #17d1c8;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
.image {
    height: 300px;
    width: auto;
    display: block;
    margin: auto;
}

#options-div {
    margin-top: 0.5em;
    margin-bottom: 2em;
}

#question-div {
    font-weight: bold;
    font-size: 1.75em;
}

#timer-div {
    font-weight: bold;
}